body {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
    color: #333;
    background: #fefefe;
}

.main-header {
    position: relative;
    margin: 0;
    display: inline-block;
    padding: 0 20px;
}

.header {
    padding: 10px;
    background: #999;
    text-align: center;
}
